
#category_img_div{
    /* border: 2px solid red; */
    position: block;
    display: flex;
    /* padding-top: 15px; */
    padding-bottom: 15px;
    background-color: #f5f5f5;
    padding-top: 180px;
}
.cat_img_div{
    border: 0px solid red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 30px;
    background-color: white;
    padding: 5px;
    margin: 0px 15px;
}

.cat_img_div img{
    width: 100%;
}
.cat_img_div p{
    color: #8d8a8e;
}
.cat_img_div:hover{
    zoom: 105%;
    /* transition: 30s; */
}

#carousel img{
    width: 100%;
}
.widths img{
    width: 100%;
    /* margin: 25px auto; */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

#trend{
    display: flex;
    width: 90%;
    margin: auto;
    border: 0px solid green;
}
#trend_lhs{
 border: 0px solid yellow; 
margin: 50px 0px;
width: 15%;
}
.arrows :first-child{
    border: 0px solid black;
    font-size: 50px;
    margin: 0px 0px;
}
#trend_lhs :first-child{
    border: 0px solid blue;
    width: 100%;
    font-family: 'Rajdhani-Medium';
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    padding-top: 2%;
    letter-spacing: -1px;
    margin-bottom:10px ;
}
#trend_rhs{
    border: 0px solid red;
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-evenly;
}
#trend_rhs_div{
    border: 0px solid brown;
    display: flex;
    width: 90%;
}

.trendelement{
    border: 0px solid red;
    margin: 0px 15px;
    text-align: center;
    font-size:20px ;
    font-family: 'Futura-Medium';
    font-weight: 600;
    justify-content: space-evenly;
}
.trendelement img{
    width: 100%;
}
.trendelement button{
    width: 60%;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: #56b7c3;
    border: 0px solid black;
}

#ojos{
    width: 80%;
    margin: auto;
    
}

#contact_lens{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#contact_lens img{
    width: 49.5%;
}

#buyityourway{
    width: 95%;
    margin: auto;
    /* display: flex; */
    margin-top: 0.8%;
}

#buyone{
    display: flex;
    justify-content: space-between;
}
#buyone img{
    width: 49.6%;
}

#buytwo{
    margin-top: 0.8%;
    display: flex;
    justify-content: space-between;
}
#buytwo img{
    width: 49.6%;
}
.sharktank{
    
    /* margin: 20px 0px; */
    border: 0px solid black;
}

.sharktext{
    /* width: 90%; */
    margin: 100px auto;
    text-align: center;
    /* max-width: 600px; */
    position: relative;
}

.sharktext::before{
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: #000042;
    position: absolute;
    left: 0;
    top: 50%;
    /* color: #4d4d4f; */
}

.sharktext::after{
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: #000042;
    position: absolute;
    right: 0;
    top: 50%;
    /* color: #4d4d4f; */
}

.titles_brands{
    
    margin: 50px auto 10px auto;

    display: flex;
    justify-content: space-between;
    width: 80%;
}
.titles_brands p{
color: #4aa4b0;
}
.hrs{
    width: 80%;
    margin:0px auto 30px;

}
.glass{
    margin: auto;
    border: 0px solid red;
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-evenly;
    margin-bottom: 80px;
    
}
#happycustomers{
    
    font-size: 40px;
    background-color:#fff092 ;
    margin: auto;
    text-align: center;
    line-height: 100px;
    margin-top: 25px;
    
}
#happycustomers iframe{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
